$Primaryblack: #13182c;
$Primaryindigo: #2e66e5;
$Primarywhite: #ffffff;
$Secondaryslate: #5c667e;
$Secondarycloud: #bdc5d5;
$Backgroundgraphite: #232940;
$Backgroundlightgrey: #f7f8f9;
$Supportgreen: #158463;
$Supportred: #c94515;
