// * {
//   border: 1px dotted black;
// }
.edit-warehouse {
  background-color: #f7f8f9;
  // height: 72.125rem;
  &__form {
    // border: 1px dotted black;
    background: $Primarywhite;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    margin: 0 1rem 0 1rem;
    position: relative;
    top: -4rem;
    z-index: 5;
    @include tablet {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  &__subheader {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: $Primaryblack;
    margin: 2rem 6.0625rem 1.5rem 6rem;
  }
  &__title {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $Primaryblack;

    margin-top: 1.5rem;
    padding-left: 1.5rem;
    border-top: 1px solid $Secondarycloud;
    padding-top: 1rem;
    @include tablet {
      margin-top: 1.5rem;
      margin-left: 2rem;
      padding-left: 0;
      font-family: Titillium Web;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__subtitle {
    margin: 1rem 9.8125rem 0 1.5rem;
    width: 10.125rem;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: $Primaryblack;
    @include tablet {
      margin-left: 2rem;
      font-family: Titillium Web;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__input {
    margin: 0 1.5rem 1rem 0;
    border-radius: 20px;
    border: 1px solid $Secondarycloud;
    height: 2rem;
    width: 15.2rem;
    @include tablet {
      margin-left: 2rem;
      width: 18rem;
      height: 2.375rem;
    }
  }
  &__btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    // height: 36px;
    // padding: 0.5rem 1.5rem;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    &--cancel {
      background: $Primarywhite;

      padding: 8px 35px;
      border: 1px solid $Secondarycloud;
      border-radius: 20px;
      @include tablet {
        width: 4.5rem;
        padding: 0.5rem 1rem;
        font-family: Titillium Web;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        border-radius: 20px;
        color: $Secondaryslate;
      }
    }
    &--save {
      background: $Primaryindigo;
      color: $Primarywhite;
      margin-left: 1rem;
      padding: 8px 10px;
      border-radius: 20px;
      width: 120px;
      border: none;
      @include tablet {
        margin-right: 2rem;
        width: 8.625rem;
        padding-left: 1rem;
      }
    }

    &-container {
      display: flex;
      background-color: #f7f8f9;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 60px;
      margin: 0 1rem;
      border-radius: 0px 0px 3px 3px;
      box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
      @include tablet {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &__copyright {
    margin: 0 6.8125rem 2.5rem 5.5rem;
    width: 9.8125rem;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    &-section {
    }
  }
  &__details-contact {
    @include tablet {
      display: flex;
      justify-content: center;
    }
  }
  &__contact-container {
    @include tablet {
      border-left: 1px dotted black;
    }
  }
  &__subheader {
    @include tablet {
      font-family: Titillium Web;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      // padding-top: 2rem;
      margin-bottom: 0;
    }
  }
  &__cards-container {
    @include tablet {
      display: flex;
    }
  }
  &__subgroup {
    display: flex;
    flex-direction: column;
  }
}
