.edit-warehouse {
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  margin: 0 1rem 5.9375rem 1rem;
  margin-bottom: 96px;
  width: 21.4375rem;
  height: 57.625rem;
  &--1 {
    background: rgba(247, 248, 249, 0.7);
  }
  &__container {
    background: #ffffff;

    border-radius: 3px;
  }
  &__title {
    font-family: titillium web;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    margin: 1rem 9.8125rem 1.5rem 1.5rem;
    width: 10.125rem;
  }
  &__subtitle {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: $Primaryblack;

    margin-left: 1.5rem;
    margin-right: 13.6875;
  }
  &__input {
    background: $Primarywhite;
    width: 18.43rem;
    height: 2.25rem;
    border-radius: 20px;
    border: 1px solid $Secondarycloud;
    margin: 0 1.5rem 1rem 1.5rem;
  }
  &__btn {
    padding: 0.5rem 3.1875rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    border-radius: 20px;
    width: 8.6875rem;
    &-container {
      display: flex;
      background: rgba(247, 248, 249, 0.7);
      justify-content: center;
      width: 21.4375rem;
      border-radius: 0px 0px 3px 3px;
    }
    &--cancel {
      background: $Primarywhite;
      border: 1px solid $Secondarycloud;
      color: $Secondaryslate;
      position: static;
      margin-left: 0;
      margin-right: 0;
    }
    &--save {
      margin-left: 1rem;
      background: $Primaryindigo;
      position: static;
      color: $Primarywhite;
    }
  }
}
