@font-face {
<<<<<<< HEAD
  src: url("./fonts/TitilliumWeb-Regular.woff") format("woff");
=======
  src: url('./fonts/TitilliumWeb-Regular.woff') format('woff');
>>>>>>> df381d821e92bf8c4fbb3a552865c67b47e35252
  font-family: "Titillium";
  font-weight: 400;
}

@font-face {
<<<<<<< HEAD
  src: url("./fonts/TitilliumWeb-Bold.woff") format("woff");
=======
  src: url('./fonts/TitilliumWeb-Bold.woff') format('woff');
>>>>>>> df381d821e92bf8c4fbb3a552865c67b47e35252
  font-family: "Titillium";
  font-weight: 600;
}
