@font-face {
<<<<<<< HEAD
  src: url(./assets/fonts/TitilliumWeb-Regular.ttf);
=======
  src: url('./fonts/TitilliumWeb-Regular.woff') format('woff');
>>>>>>> main
  font-family: "Titillium";
  font-weight: 400;
}

@font-face {
<<<<<<< HEAD
  src: url(./assets/fonts/TitilliumWeb-Bold.ttf);
=======
  src: url('./fonts/TitilliumWeb-Bold.woff') format('woff');
>>>>>>> main
  font-family: "Titillium";
  font-weight: 600;
}
