@font-face {
  src: url(../../fonts/TitilliumWeb-Regular.ttf);
  font-family: "Titillium";
  font-weight: 400;
}
@font-face {
  src: url(../../fonts/TitilliumWeb-Bold.ttf);
  font-family: "Titillium";
  font-weight: 600;
}
