.nav {
  position: relative;
  background-color: $Primaryblack;
  height: 10rem;
  width: 100vw;

  &__logo {
    margin: 1rem 0 0 30vw;
  }

  &__menu {
    margin: unset;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list-link {
    &--active {
      background-color: black;
      height: 2.25rem;
      padding: 0 1.5rem;
      border-radius: 20px;
      color: $Primarywhite;
      text-decoration: none;
    }
    &--inactive {
      background-color: $Primaryblack;
      height: 2.25rem;
      padding: 0 1.5rem;
      border-radius: 20px;
      text-decoration: none;
      color: $Secondaryslate;
      &:hover {
        text-decoration: underline;
        text-decoration: $Primarywhite;
        color: $Primarywhite;
      }
    }
  }
}

@include tablet {
  .nav {
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &__wrapper {
      margin-top: 1rem;
      display: flex;
      margin-left: 38vw;
    }

    &__logo {
      margin-top: 1rem;
      margin-left: 3.125vw;
      margin-right: 56px;
    }

    &__menu {
      display: flex;
      align-items: center;
      &__list-link {
        &--active {
          background-color: black;
          height: 2.25rem;
          padding: 0 1.5rem;
          border-radius: 20px;
          color: $Primarywhite;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            text-decoration: $Primarywhite;
            color: $Primarywhite;
          }
        }
        &--inactive {
          background-color: $Primaryblack;
          height: 2.25rem;
          padding: 0 1.5rem;
          border-radius: 20px;
          text-decoration: none;
          color: $Secondaryslate;
          &:hover {
            text-decoration: underline;
            text-decoration: $Primarywhite;
            color: $Primarywhite;
          }
        }
      }
    }
  }
}

@include desktop {
  .nav {
    &__wrapper {
      // margin-right: 5rem;
      margin-left: 40vw;
    }
    &__logo {
      margin-left: 5rem;
    }
  }
}
