@font-face {
  src: url("./fonts/TitilliumWeb-Regular.woff") format("woff");
  font-family: "Titillium";
  font-weight: 400;
}

@font-face {
  src: url("./fonts/TitilliumWeb-Bold.woff") format("woff");
  font-family: "Titillium";
  font-weight: 600;
}

.nav {
<<<<<<< HEAD
  position: relative;
  background-color: #13182c;
  height: 10rem;
  width: 100vw;
}

.nav__logo {
  margin: 1rem 0 0 30vw;
}

.nav__menu {
  margin: unset;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list-link--active {
  background-color: black;
  height: 2.25rem;
  padding: 0 1.5rem;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
}

.nav__list-link--inactive {
  background-color: #13182c;
  height: 2.25rem;
  padding: 0 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  color: #5c667e;
}

.nav__list-link--inactive:hover {
  text-decoration: underline;
  -webkit-text-decoration: #ffffff;
          text-decoration: #ffffff;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .nav {
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
=======
  background-color: #232940;
  height: 12.5rem;
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 48rem) {
  .nav {
    height: 11.625rem;
  }
}

.nav__wrapper {
  width: 91.47%;
  margin: 0 auto;
  max-width: 63.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}

@media only screen and (min-width: 48rem) {
  .nav__wrapper {
    width: 91.7%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 48rem) {
  .nav__wrapper {
>>>>>>> 971cd09ab38eda6a63260f6fe0fd4c747a5676c4
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
<<<<<<< HEAD
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav__wrapper {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 38vw;
  }
  .nav__logo {
    margin-top: 1rem;
    margin-left: 3.125vw;
    margin-right: 56px;
  }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__menu__list-link--active {
    background-color: black;
    height: 2.25rem;
    padding: 0 1.5rem;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
  }
  .nav__menu__list-link--active:hover {
    text-decoration: underline;
    -webkit-text-decoration: #ffffff;
            text-decoration: #ffffff;
    color: #ffffff;
  }
  .nav__menu__list-link--inactive {
    background-color: #13182c;
    height: 2.25rem;
    padding: 0 1.5rem;
    border-radius: 20px;
    text-decoration: none;
    color: #5c667e;
  }
  .nav__menu__list-link--inactive:hover {
    text-decoration: underline;
    -webkit-text-decoration: #ffffff;
            text-decoration: #ffffff;
    color: #ffffff;
  }
}

@media only screen and (min-width: 1080px) {
  .nav__wrapper {
    margin-left: 40vw;
  }
  .nav__logo {
    margin-left: 5rem;
  }
}

.edit-warehouse {
  background-color: #f7f8f9;
}

.edit-warehouse__form {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  margin: 0 1rem 0 1rem;
}

.edit-warehouse__subheader {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #13182c;
  margin: 2rem 6.0625rem 1.5rem 6rem;
}

.edit-warehouse__title {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #13182c;
  margin: 1rem 0 1.5rem 1.5rem;
}

.edit-warehouse__subtitle {
  margin: 1rem 9.8125rem 0 1.5rem;
  width: 10.125rem;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #13182c;
}

.edit-warehouse__input {
  margin: 0 1.5rem 1rem 1.5rem;
  border-radius: 20px;
  border: 1px solid #bdc5d5;
  height: 2rem;
  width: 15.2rem;
}

.edit-warehouse__btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2.65rem;
}

.edit-warehouse__btn--cancel {
  background: #ffffff;
  margin-left: 1.5rem;
}

.edit-warehouse__btn--save {
  background: #2e66e5;
  color: #ffffff;
  margin-left: 1rem;
}

.edit-warehouse__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f8f9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-warehouse__copyright {
  padding: 2.5rem 6.8125rem 2.5rem 5.5rem;
  width: 9.8125rem;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
=======
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.75rem;
  }
}

.nav__menu {
  width: 100%;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 48rem) {
  .nav__menu {
    width: auto;
    padding-top: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.nav__list-item {
  padding: 0.5rem;
  width: 10rem;
  text-align: center;
  border-radius: 1.25rem;
}

.nav__list-item--active {
  background-color: #13182c;
}

.nav__link {
  color: #ffffff;
}

.nav__link:hover {
  text-decoration: underline;
>>>>>>> 971cd09ab38eda6a63260f6fe0fd4c747a5676c4
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Titillium";
}

body {
  margin: 0;
  background-color: #f7f8f9;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  border-radius: 1rem;
  border: none;
}

<<<<<<< HEAD
=======
.section-wrapper {
  width: 91.47%;
  margin: 0 auto;
  max-width: 63.75rem;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  padding: 2rem 1.5rem 1rem;
  position: relative;
  top: -4rem;
  z-index: 5;
}

@media only screen and (min-width: 48rem) {
  .section-wrapper {
    width: 91.7%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 48rem) {
  .section-wrapper {
    padding: 2rem 2rem 1rem;
    top: -5.875rem;
  }
}

@media only screen and (min-width: 80rem) {
  .section-wrapper {
    padding: 2rem 1.5rem 1rem;
  }
}

>>>>>>> 971cd09ab38eda6a63260f6fe0fd4c747a5676c4
.title {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

<<<<<<< HEAD
@media only screen and (min-width: 768px) {
=======
@media only screen and (min-width: 48rem) {
>>>>>>> 971cd09ab38eda6a63260f6fe0fd4c747a5676c4
  .title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.sub-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

<<<<<<< HEAD
@media only screen and (min-width: 768px) {
=======
@media only screen and (min-width: 48rem) {
>>>>>>> 971cd09ab38eda6a63260f6fe0fd4c747a5676c4
  .sub-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.labels {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

<<<<<<< HEAD
@media only screen and (min-width: 768px) {
=======
@media only screen and (min-width: 48rem) {
>>>>>>> 971cd09ab38eda6a63260f6fe0fd4c747a5676c4
  .labels {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.table-title {
  font-size: 0.6875rem;
  line-height: 1rem;
}

<<<<<<< HEAD
@media only screen and (min-width: 768px) {
=======
@media only screen and (min-width: 48rem) {
>>>>>>> 971cd09ab38eda6a63260f6fe0fd4c747a5676c4
  .table-title {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.large-text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

<<<<<<< HEAD
@media only screen and (min-width: 768px) {
=======
@media only screen and (min-width: 48rem) {
>>>>>>> 971cd09ab38eda6a63260f6fe0fd4c747a5676c4
  .large-text {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.medium-text {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

<<<<<<< HEAD
@media only screen and (min-width: 768px) {
=======
@media only screen and (min-width: 48rem) {
>>>>>>> 971cd09ab38eda6a63260f6fe0fd4c747a5676c4
  .medium-text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.small-text {
  font-size: 0.6875rem;
  line-height: 1rem;
}

<<<<<<< HEAD
@media only screen and (min-width: 768px) {
=======
@media only screen and (min-width: 48rem) {
>>>>>>> 971cd09ab38eda6a63260f6fe0fd4c747a5676c4
  .small-text {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.header {
  background-color: #232940;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inventoryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.inventoryList__wrapper {
  border-radius: 3px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px pink solid;
}

.inventoryList__header {
  background-color: #bdc5d5;
}

.inventoryList__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #bdc5d5;
  padding: 1rem 0;
}

.inventoryList__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inventoryList__cell--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.delete-modal__backdrop {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  left: 0;
  top: 0;
}

.delete-modal__close {
  background: none;
  float: right;
  cursor: pointer;
}

@media only screen and (min-width: 48rem) {
  .delete-modal__wrapper {
    margin: auto;
    width: 42rem;
    height: 16.375rem;
    display: visible;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #ffffff;
  }
  .delete-modal__paragraph {
    background-color: #ffffff;
  }
  .delete-modal__content {
    background-color: #ffffff;
  }
}

.subHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid yellow;
}
<<<<<<< HEAD

.header {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #13182c;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80px;
}

@media only screen and (min-width: 768px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

@media only screen and (min-width: 1080px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  height: 21%;
  height: 60%;
}

.nav__link--inventory {
  text-decoration: none;
  color: #ffffff;
  border-bottom: solid 3px #ffffff;
}

@media only screen and (min-width: 768px) {
  .nav__link--inventory {
    width: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
  }
}

.nav__link--inventory {
  text-decoration: none;
  background-color: #13182c;
  color: #bdc5d5;
}

.nav__link--inventory:active {
  background-color: black;
  color: #ffffff;
}

.nav__link--inventory:hover {
  text-decoration: line-through;
  color: #ffffff;
}
=======
>>>>>>> 971cd09ab38eda6a63260f6fe0fd4c747a5676c4
/*# sourceMappingURL=main.css.map */