@font-face {
  src: url("./fonts/TitilliumWeb-Regular.woff") format("woff");
  font-family: "Titillium";
  font-weight: 400;
}

@font-face {
  src: url("./fonts/TitilliumWeb-Bold.woff") format("woff");
  font-family: "Titillium";
  font-weight: 600;
}

.nav {
  background-color: #232940;
}

.nav__wrapper {
  width: 91.47%;
  margin: 0 auto;
  max-width: 63.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}

@media only screen and (min-width: 48rem) {
  .nav__wrapper {
    width: 91.7%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 48rem) {
  .nav__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.75rem;
  }
}

.nav__menu {
  width: 100%;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 48rem) {
  .nav__menu {
    width: auto;
    padding-top: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.nav__list-item {
  padding: 0.5rem;
  width: 10rem;
  text-align: center;
  border-radius: 1.25rem;
}

.nav__list-item--active {
  background-color: #13182c;
}

.nav__link {
  color: #ffffff;
}

.nav__link:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Titillium";
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0  1rem;
  border-radius: 1rem;
  border: none;
}

.title {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

@media only screen and (min-width: 48rem) {
  .title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.sub-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media only screen and (min-width: 48rem) {
  .sub-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.labels {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

@media only screen and (min-width: 48rem) {
  .labels {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.table-title {
  font-size: 0.6875rem;
  line-height: 1rem;
}

@media only screen and (min-width: 48rem) {
  .table-title {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.large-text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

@media only screen and (min-width: 48rem) {
  .large-text {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.medium-text {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

@media only screen and (min-width: 48rem) {
  .medium-text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.small-text {
  font-size: 0.6875rem;
  line-height: 1rem;
}

@media only screen and (min-width: 48rem) {
  .small-text {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.header {
  background-color: #232940;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inventoryList {
  border: 1px blue solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-filter: drop-shadow(-2px -2px 55px rgba(19, 24, 44, 0.1));
          filter: drop-shadow(-2px -2px 55px rgba(19, 24, 44, 0.1));
}

.inventoryList__wrapper {
  border-radius: 3px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px pink solid;
}

.inventoryList__header {
  background-color: #bdc5d5;
}

.inventoryList__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #bdc5d5;
  padding: 1rem 0;
}

.inventoryList__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inventoryList__cell--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.delete-modal__backdrop {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  left: 0;
  top: 0;
}

.delete-modal__close {
  background: none;
  float: right;
  cursor: pointer;
}

@media only screen and (min-width: 48rem) {
  .delete-modal__wrapper {
    margin: auto;
    width: 42rem;
    height: 16.375rem;
    display: visible;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #ffffff;
  }
  .delete-modal__paragraph {
    background-color: #ffffff;
  }
  .delete-modal__content {
    background-color: #ffffff;
  }
}

.subHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid yellow;
}
/*# sourceMappingURL=main.css.map */